@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');
@import './Scss/colors';
@import './Scss/styles';

body {
    font-family: $fontFamily;
    background-color: $bgColor;
    color: $fontColor;
    border-color: $borderColor;
    border: $borderHeight;
}

.second-font-color {
    color: $secondFontColor;
}

.light-background-color {
    background-color: $lightBgColor;
}

label {
    color: $secondFontColor;
}

p{
    color: $secondFontColor
}

.borderr{
    margin: $margin 0px;
    background-color: $borderColor;
    height: $borderHeight

}